# Ignore all config folder
config/*

# Include some specific files for pihole
# We have to:
# - first stop ignore the top pihole folder,
# - then ignore its content
# - then allow for the files we want
!config/pihole/
config/pihole/*
!config/pihole/dnsmasq.d
config/pihole/dnsmasq.d/*
!config/pihole/dnsmasq.d/99-local_rev-proxy.conf
!config/pihole/unbound_pi-hole.conf

# Include traefik
!docker/config/traefik/
